
#wrap
{
  width: 1000px;
  margin: 0 auto;
  background: #c6c6c6;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
}

#app
{
    background-color: #b0b0b0;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 440px;
}

form {
  padding-left: 30px;
}

body {
  background-image: url("space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #FFFF00
}

@font-face{
  font-family: pixelboy; src: url('pixeboy-font\\Pixeboy-z8XGD.ttf');
}

h1 {
  text-align:center;
  font-family: pixelboy;
  font-size: 128px;
}

h2 {
  text-align:center;
  font-family: pixelboy;
  font-size: 40px;
}

table {
  border: 3px solid;
}

h3 {
  color: #FF02FF;
  font-family:sans-serif;
}

img {
  border-style:groove;
  border-radius: 5px;
  border-color: #000010;
  float:left;
  margin: 0 15px 0 15px
}

figure {
  display: inline-block;
  float:right;
}

.chef {
  border-style: none;
}

figcaption {
  text-align: center
}

p {
  font-size: 24pt;
}

ul {
  columns: 5;
  list-style-type: square;
  list-style-position: outside;
}

li {
  color: #04FF04
}

.li1 {
  margin-bottom: 100px;
}

footer {
  position:fixed; bottom: 0;
  background-color: #FFFF00;
  width: ;
  padding-left: 45;
  padding-right: 45;
  padding-top: 2;
  padding-bottom: 2;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:hover {
  background-color: white;
}

/* When we resize the screen, we will change the
   background color of the header to read,
   change font color of the footer to white,
   and change the font of our table items to
   monospace. */
@media only screen and (max-width: 1500px)
{
  header {
    background-color: #FF0505
  }

  footer{
    color: #FFFFFF
  }

  td {
    font-family: monospace;
  }
}
